@using IQVIAInterviewApi.Models
@model List<TweetModel>

<h2>Total Tweets: @Model.Count</h2>

<div class="row" style="margin-bottom:5px">
    <input class="search form-control" placeholder="Search Stamp, Id, or Text"/>
</div>

<div class="row">
    @foreach (TweetModel tweet in Model)
    {
        <div class="card col-3 p-0">
            <div class="card-header">
                @tweet.Stamp
            </div>
            <div class="card-body">
                <h5 class="card-title">Id: @tweet.Id</h5>
                <p class="card-text">@tweet.Text</p>
            </div>
        </div>
    }
</div>