@using IQVIAInterviewApi.Models
@model List<TweetModel>

@{
    ViewBag.Title = "Home Page";
}

@section scripts {

    <script src="~/Scripts/search.js"></script>
}

<div id="tweets">
    @Html.Partial("_Tweets", Model)
</div>